.b2{
    width: 100vw;
    height: 50vh;
    background-color: white;
    color:black;
}

  .line5::before{
    content: "";
    position: absolute;
    left: 100%;
    height: 60px;
    width: 40%;
    background: white;
    border-left: 2px solid #FC4445;
    animation: typing 4s linear 0s;
  }
 

  @keyframes typing {
    0%{
      left: 45%
    }
    100%{
      left: 56%;
    }
  }

  img {
    /* border-radius: 90%; */
    width: 250px;
    /* border-radius: 125px; */
  }

